*{
    margin: 0;
    padding:0;

}

.titulo{
    text-align: center;
    font-family: sans-serif;
    margin-top: 30px;
    color: firebrick;
}
.titulo2{
    text-align: center;
    font-family: sans-serif;
    margin-top: 40px;
    font-size: 60px;
    color: greenyellow;
    transition: 0.5s;
}

.caja{
    width: 300px;
    height: 400px;
    background-color:darkblue;
    margin: auto;
    margin-top: 30px;
}
.caja2{
    height: 250px;
    transition: 0.5s;
}

.boton{
    width: 110px;
    height: 30px;
    background-color: greenyellow;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}